@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
.plume {
  display: block;
  width: 100%;
  height: 100%;
  overflow-x: hidden !important;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #57607c;
  margin: 0px !important;
  padding: 0px !important; }
  .plume-content {
    display: block;
    width: 750px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    margin-left: 270px;
    margin-right: 0px;
    padding-left: calc((100% - 270px)/2  - 750px/2);
    padding-right: calc((100% - 270px)/2  - 750px/2);
    padding-top: 30px;
    padding-bottom: 30px; }
    @media screen and (max-width: 750px) {
      .plume-content {
        width: calc(100% - 2 * 10px) !important;
        margin-right: 0px !important;
        margin-left: 0px !important;
        padding-left: 10px !important;
        padding-right: 10px !important; } }
    .plume-content-title {
      display: block;
      position: -webkit-sticky;
      position: sticky;
      z-index: 100;
      top: 0px;
      font-size: 35px;
      line-height: 35px;
      font-weight: bold;
      background-color: #ffffff;
      padding-top: 45px;
      padding-bottom: 35px; }
    .plume-content-subtitle {
      display: block;
      font-size: 25px;
      line-height: 25px;
      font-weight: bold;
      background-color: #ffffff;
      padding-top: 28px;
      padding-bottom: 20px; }
  .plume-header {
    display: block;
    width: 750px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    margin-left: 270px;
    margin-right: 0px;
    padding-left: calc((100% - 270px)/2  - 750px/2);
    padding-right: calc((100% - 270px)/2  - 750px/2);
    padding-top: 180px;
    padding-bottom: 160px; }
    @media screen and (max-width: 750px) {
      .plume-header {
        width: calc(100% - 2 * 10px) !important;
        margin-right: 0px !important;
        margin-left: 0px !important;
        padding-left: 10px !important;
        padding-right: 10px !important; } }
    .plume-header-title {
      display: block;
      line-height: 55px;
      font-size: 55px;
      font-weight: bold;
      margin-top: 0px;
      margin-bottom: 15px; }
    .plume-header-subtitle {
      display: block;
      line-height: 35px;
      font-size: 35px;
      font-weight: bold;
      margin-top: 0px;
      margin-bottom: 0px; }
  .plume-heading1, .plume-h1 {
    display: block;
    font-family: "Montserrat", sans-serif;
    color: #57607c;
    font-weight: bold;
    background-color: #ffffff;
    font-size: 40px;
    line-height: 40px;
    padding-top: 0px;
    padding-bottom: 10px;
    margin-top: 60px;
    margin-bottom: 40px;
    border-bottom: 1px solid #ebf2fa; }
    .plume-heading1:first-child, .plume-h1:first-child {
      margin-top: 0px !important; }
  .plume-heading2, .plume-h2 {
    display: block;
    font-family: "Montserrat", sans-serif;
    color: #57607c;
    font-weight: bold;
    background-color: #ffffff;
    font-size: 30px;
    line-height: 30px;
    padding-top: 0px;
    padding-bottom: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ebf2fa; }
    .plume-heading2:first-child, .plume-h2:first-child {
      margin-top: 0px !important; }
  .plume-heading3, .plume-h3 {
    display: block;
    font-family: "Montserrat", sans-serif;
    color: #57607c;
    font-weight: bold;
    background-color: #ffffff;
    font-size: 20px;
    line-height: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 40px;
    margin-bottom: 20px; }
    .plume-heading3:first-child, .plume-h3:first-child {
      margin-top: 0px !important; }
  .plume-footer {
    display: block;
    width: 750px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background-color: rgba(195, 215, 239, 0.2);
    color: #8790ab;
    margin-left: 270px;
    margin-right: 0px;
    margin-top: 80px;
    padding-left: calc((100% - 270px)/2  - 750px/2);
    padding-right: calc((100% - 270px)/2  - 750px/2);
    padding-top: 60px;
    padding-bottom: 60px; }
    @media screen and (max-width: 750px) {
      .plume-footer {
        width: calc(100% - 2 * 10px) !important;
        margin-right: 0px !important;
        margin-left: 0px !important;
        padding-left: 10px !important;
        padding-right: 10px !important; } }
  .plume-menu {
    display: block;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 0px; }
    .plume-menu-group {
      display: block;
      width: 100%;
      height: 25px;
      line-height: 25px;
      -webkit-transition: color 0.3s;
      -o-transition: color 0.3s;
      transition: color 0.3s;
      font-weight: bold;
      text-decoration: none;
      color: #697496; }
      .plume-menu-group:not(:first-child) {
        margin-top: 10px; }
      .plume-menu-group:hover {
        text-decoration: none !important;
        color: #697496; }
    .plume-menu-item {
      display: block;
      height: 34px;
      line-height: 34px;
      border: 0px;
      border-radius: 5px;
      font-size: 14px;
      color: #57607c;
      font-weight: normal;
      text-decoration: none;
      padding-left: 10px;
      padding-right: 10px;
      opacity: 1.0;
      -webkit-transition: background-color 0.3s;
      -o-transition: background-color 0.3s;
      transition: background-color 0.3s;
      cursor: pointer; }
      .plume-menu-item:hover {
        background-color: #ebf2fa;
        text-decoration: none !important;
        color: #57607c; }
      .plume-menu-item:hover {
        background-color: #ffffff !important; }
    .plume-menu-sub {
      display: block;
      padding-left: 10px;
      margin-left: 10px;
      margin-top: 5px;
      margin-bottom: 5px;
      border-left: 1px solid #d7e4f4; }
  .plume-toggle {
    display: block;
    width: 34px;
    height: 35px;
    float: left;
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 270px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    margin-left: 15px;
    margin-top: 12px;
    background-color: #ebf2fa;
    border-radius: 5px; }
    .plume-toggle span, .plume-toggle span::after, .plume-toggle span::before {
      content: "";
      position: absolute;
      width: 24px;
      height: 3px;
      -webkit-transition: background-color 0.3s;
      -o-transition: background-color 0.3s;
      transition: background-color 0.3s;
      background-color: #57607c;
      border-radius: 200px; }
    .plume-toggle span::before {
      top: -6px;
      left: 0px; }
    .plume-toggle span {
      top: 16px;
      left: 5px; }
    .plume-toggle span::after {
      top: 6px;
      left: 0px; }
    .plume-toggle:hover span, .plume-toggle:hover span::after, .plume-toggle:hover span::before {
      background-color: #18d2ba; }
  .plume-navigation {
    display: block;
    width: 750px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 0px;
    margin-left: 270px;
    padding-left: calc((100% - 270px)/2  - 750px/2);
    padding-right: calc((100% - 270px)/2  - 750px/2); }
    @media screen and (max-width: 750px) {
      .plume-navigation {
        width: calc(100% - 2 * 10px) !important;
        margin-right: 0px !important;
        margin-left: 0px !important;
        padding-left: 10px !important;
        padding-right: 10px !important; } }
    .plume-navigation .plume-navigation-next, .plume-navigation .plume-navigation-prev {
      display: inline-block;
      position: relative;
      cursor: pointer;
      -webkit-transition: color 0.3s;
      -o-transition: color 0.3s;
      transition: color 0.3s;
      height: 40px;
      line-height: 40px;
      color: #57607c;
      text-decoration: none !important; }
      .plume-navigation .plume-navigation-next::after, .plume-navigation .plume-navigation-next::before, .plume-navigation .plume-navigation-prev::after, .plume-navigation .plume-navigation-prev::before {
        content: "";
        width: 15px;
        height: 3px;
        -webkit-transition: background-color 0.3s;
        -o-transition: background-color 0.3s;
        transition: background-color 0.3s;
        position: absolute;
        background-color: #57607c;
        border-radius: 50px; }
      .plume-navigation .plume-navigation-next:hover, .plume-navigation .plume-navigation-prev:hover {
        color: #18d2ba;
        text-decoration: none !important; }
        .plume-navigation .plume-navigation-next:hover::after, .plume-navigation .plume-navigation-prev:hover::after {
          background-color: #18d2ba; }
        .plume-navigation .plume-navigation-next:hover::before, .plume-navigation .plume-navigation-prev:hover::before {
          background-color: #18d2ba; }
    .plume-navigation .plume-navigation-next {
      float: right;
      padding-left: 0px;
      padding-right: 35px; }
      .plume-navigation .plume-navigation-next::after {
        top: 14px;
        right: 10px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
      .plume-navigation .plume-navigation-next::before {
        top: 23px;
        right: 10px;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
    .plume-navigation .plume-navigation-prev {
      float: left;
      padding-left: 35px;
      padding-right: 0px; }
      .plume-navigation .plume-navigation-prev::after {
        top: 14px;
        left: 10px;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      .plume-navigation .plume-navigation-prev::before {
        top: 23px;
        left: 10px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
  .plume-sidebar {
    display: block;
    width: 230px;
    height: calc(100% - 30px - 30px);
    -webkit-transition: left 0.3s;
    -o-transition: left 0.3s;
    transition: left 0.3s;
    position: fixed;
    z-index: 400;
    top: 0px;
    left: 0px;
    background-color: #d7e4f4;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px; }
  .plume--closed .plume-sidebar {
    left: calc(-1 * 270px); }
  .plume--closed .plume-header, .plume--closed .plume-content, .plume--closed .plume-navigation, .plume--closed .plume-footer {
    margin-left: 0px !important;
    padding-left: calc(50%  - 750px/2);
    padding-right: calc(50%  - 750px/2); }
  .plume--closed .plume-toggle {
    left: 0px !important; }
